<h1>New Library User</h1>
<h2>Please welcome our newest library card holder!</h2>
<hr>
<h3>NEW USER INFORMATION</h3>
<hr>
<p>
   <strong>First Name:</strong> <%= @firstname %><br>
   <strong>Last Name:</strong> <%= @lastname %><br>
   <strong>Sex:</strong> <%= @sex %><br>
   <strong>Comments:</strong> <%= @message %><br>
   <strong>Genres <%= @firstname %> Likes:</strong> <%= @genres %><br>
   <strong>Types of Media <%= @firstname %> Likes:</strong> <%= @likes %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtAdd New Library Card&lt&lt</a>